    <tr>
        <td>{{ addressInfo.number }}</td>
        <td>{{ addressInfo.way }}</td>
        <td>{{ addressInfo.streetName }}</td>
        <td>{{ addressInfo.postalCode }}</td>
        <td>{{ addressInfo.city }}</td>
        <td>{{ addressInfo.createdAt|date('d-m-Y H:i:s') }}</td>
    </tr>