    <tr>
        <td>{{ companyInfo.name }}</td>
        <td>{{ companyInfo.sirenNumber }}</td>
        <td>{{ companyInfo.cityRegistration }}</td>
        <td>{{ companyInfo.shareSocial }}</td>
        <td>{{ companyInfo.jurisdiction.name }}</td>
        <td>{{ companyInfo.createdAt|date('d-m-Y H:i:s') }}</td>
    </tr>