{% extends 'base.html.twig' %}

{% block title %}{{ 'Edit Jurisdiction'|trans}}{% endblock %}

{% block body %}
    <div class="container mt-4">
    <div class="text-primary" style="font-weight: bold;font-size: 4rem;"><h1>{{ 'Edit Jurisdiction'|trans}}</h1></div>

        {{ include('jurisdiction/_form.html.twig', {'button_label': 'Enregistrer'}) }}

        <div class="text-right">
            <a href="{{ path('jurisdiction_index') }}" class="btn btn-primary">{{ 'Back to list'|trans}}</a>
        </div>

    </div>
{% endblock %}
