{% extends 'base.html.twig' %}

{% block title %}{{ 'Edit Jurisdiction'|trans}}{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>{{ 'Edit Jurisdiction'|trans}}</h1>

        {{ include('jurisdiction/_form.html.twig', {'button_label': 'Enregistrer'}) }}

        <div class="text-right">
            <a href="{{ path('jurisdiction_index') }}" class="btn btn-primary">{{ 'Back to list'|trans}}</a>
        </div>

    </div>
{% endblock %}
