{% extends 'base.html.twig' %}

{% block title %}{{ 'Jurisdiction index'|trans}}{% endblock %}

{% block body %}
    <div class="container mt-4">
    <div class="text-primary" style="font-weight: bold;font-size: 4rem;"><h1>{{ 'Jurisdiction index'|trans}}</h1></div>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'Name'|trans}}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for jurisdiction in jurisdictions %}
            <tr>
                <td>{{ jurisdiction.name }}</td>
                <td>
                    <a href="{{ path('jurisdiction_show', {'id': jurisdiction.id}) }}" class="btn btn-primary">{{ 'Show'|trans}}</a>
                    <a href="{{ path('jurisdiction_edit', {'id': jurisdiction.id}) }}" class="btn btn-primary">{{ 'Edit'|trans}}</a>
                    <form method="post" action="{{ path('jurisdiction_delete', {'id': jurisdiction.id}) }}" style="display: inline-block" 
                    onsubmit="return confirm('Etes vous vraiment sûr?')">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ jurisdiction.id) }}">
                    <button class="btn btn-danger">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{{ 'no records found'|trans}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="text-right">
        <a href="{{ path('jurisdiction_new') }}" class="btn btn-primary">{{ 'Create new legal form'|trans}}</a>
    </div>

    </div>

{% endblock %}
