{% extends 'base.html.twig' %}

{% block title %}{{ 'Create new legal form'|trans}}{% endblock %}

{% block body %}
    <h1>{{ 'Create new legal form'|trans}}</h1>

    {{ include('jurisdiction/_form.html.twig') }}

    <a href="{{ path('jurisdiction_index') }}">{{ 'Back to list'|trans}}</a>
{% endblock %}
