{% extends 'base.html.twig' %}

{% block title %}{{ 'Jurisdiction'|trans}}{% endblock %}

{% block body %}
    <h1>{{ 'Jurisdiction'|trans}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ jurisdiction.id }}</td>
            </tr>
            <tr>
                <th>{{ 'Name'|trans}}</th>
                <td>{{ jurisdiction.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('jurisdiction_index') }}">{{ 'Back to list'|trans}}</a>

    <a href="{{ path('jurisdiction_edit', {'id': jurisdiction.id}) }}">{{ 'Edit'|trans}}</a>

    {{ include('jurisdiction/_delete_form.html.twig') }}
{% endblock %}
